.buttons button{
    padding: 5px;
    margin: 5px;
}
.buttons{
    width: 70%;
}

.buttons h2{
    font-size: 20px;
    margin: 0 auto;
}

.buttons h3{
    text-align: center;
    border-bottom: 1px solid;
    font-size: 15px;
    margin-top: 1px;
}


.row .col-md-3{
    padding-left: 3px;

}