<div class="conatiner">
    <div>
        <h1>Spacex Launch Programs</h1>
        <div class="col-sm-2">
            <div class="buttons">
                <h2>Filters</h2>
                <h3>Launch year</h3>
                <button *ngFor="let flightsyear of buttonsarray" (click)="sendYear(flightsyear)">{{flightsyear}}</button>
            </div>
            <div class="buttons">
                <h3>Successful Launch</h3>
                <button (click)="launch_success('true')">True</button>
                <button (click)="launch_success('false')">False</button>
            </div>
            <div class="buttons">
                <h3>Successful Landing</h3>
                <button (click)="land_success('true')">True</button>
                <button (click)="land_success('false')">False</button>
            </div>
        </div>
        <div class="col-sm-10">
            <div class="row">
                <div class="col-md-3"  *ngFor="let fshow of flightData">
                    <div class="card" style="background-color: azure;">
                        <div class="cardheader"><img src="{{fshow.links.mission_patch}}" width="80%" height="100px"></div>
                        <div class="cardbody">
                            <p>{{fshow.mission_name}} # {{fshow.flight_number}}</p>
                            <p>Mission Id's:{{fshow.mission_id[0]}}</p><br>
                            <p>Launch Year:{{fshow.launch_year}}</p><br>
                            <p>Successful Launch:{{fshow.launch_success}}</p><br>
                            <p>Successful Landing:{{fshow.rocket.first_stage.cores[0].land_success}}</p><br>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>